<form>
  <div class="form">
    <div class="form-group">
      <div><label for="title">Title</label></div>
      <div><input
          [(ngModel)]="book.title"
          class="form-control"
          name="title"
          required
          #title="ngModel"></div>
    </div>
    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
      Geben Sie einen Titel ein.
    </div>

    <div class="form-group">
      <div><label for="link">Description</label></div>
      <div><textarea
          [(ngModel)]="book.description"
          class="form-control"
          name="description"
          #description="ngModel"
          minlength="3"></textarea></div>
    </div>
    <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
      Der Beschreibung muss mindestens drei Zeichen lang sein.
    </div>

    <div class="form-group">
    <button (click)="submit()" class="btn btn-danger">Submit</button>
    </div>
  </div>
</form>
