<div class="well">
  <div class="thumbnail pull-right">
    <img src="//gravatar.com/avatar/{{book.rating}}?s=80&default=wavatar" />
  </div>

  <h2 [class.bg-danger]="book.rating == 0">{{ book.title }} <small>Stars {{ book.rating }}</small></h2>
  <p>{{ book.description }}</p>

  <button (click)="rateUp()" class="btn btn-danger">
    <i class="glyphicon glyphicon-thumbs-up"></i>
    rate up
  </button>

  <button (click)="rateDown()" class="btn btn-danger">
    <i class=" glyphicon glyphicon-thumbs-down"></i>
    rate down
  </button>
</div>
